figure {
  margin: auto 0;
}

#biografia {
  display: grid;

  grid-template-columns: 10rem 1fr 20rem;
  grid-template-rows: 10rem 1fr;
  grid-area: content;

  row-gap: 15rem;
  padding-top: 14rem;

  /* background-color: aqua; */
}

.grid-item {
  margin: 1rem;
  display: grid;
  text-align: center;

  /* background-color: coral; */
}

.text {
  grid-column-start: 2;
  grid-column-end: 3;

  padding: 1rem;

  height: 10rem;
  /* justify-content: center;
  grid-row: 1 / span 2; */

  color: var(--primary-color);
  box-shadow: var(--tertiary-color) 0px 0px 0.5rem;
  /* background-color: var(--Wfume); */
  /* border-radius: var(--borda-semi-redonda); */
}

.content {
  grid-column-start: 2;
  grid-column-end: 3;

  grid-template-columns: 1rem 1fr 1fr 1rem;

  /* height: 55rem; */

  /* column-gap: 9rem; */

  margin-bottom: 15rem;
}

.grid-item-item1 {
  grid-column-start: 2;
  grid-column-end: 3;

  margin-right: 5rem;
}

.grid-item-item2 {
  margin-left: 5rem;
}

figure {
  margin: 0;
}

.content img {
  height: 20rem;
  max-width: 25rem;
  min-width: 15rem;
  margin-bottom: 1rem;
}

.item {
  padding: 1rem;
  background-color: var(--Bfume);
  border-radius: 1.2rem 0 1.2rem;
  box-shadow: var(--tertiary-color) 0 0 0.5rem;
  color: var(--tertiary-color);
  transition: color, background-color .4s;
}

.item:hover {
  box-shadow: var(--primary-color);
  background-color: var(--tertiary-color);
  color: var(--primary-color);
}

/* .item > img {
  border-radius: 1.2rem 0 0 0;
  width: 100%;
}

