:root {
  font-size: 62.5%;
  box-sizing: border-box;

  /* --borda-semi-redonda: 1.2rem 0 1.2rem 0; */

  /* --elem-esp: 5rem; */
}

.dark-mode {
  --primary-color: #000;
  --secondary-color: #6200ee;
  --tertiary-color: #fff;
  --Wfume: rgba(255, 255, 255, 0.4);
  --Bfume: rgba(0, 0, 0, 0.4);
}

.light-mode {
  --primary-color: #fff;
  --secondary-color: #6200ee;
  --tertiary-color: #000;
  --Bfume: rgba(255, 255, 255, 0.4);
  --Wfume: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  color: var(--tertiary-color);
  /* font-size: var(--elem-esp); */
}

.background-ps {
  background-image: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color)
  );
}

.background-sp {
  background-image: linear-gradient(
    to left,
    var(--primary-color),
    var(--secondary-color)
  );
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 3.5rem;
  color: var(--tertiary-color);
}

p {
  font-size: 1.8rem;
}

/*Estilização do menu*/

#menu {
  z-index: 1;
  width: 100%;
  position: fixed;
  display: inline-block;
  box-shadow: var(--tertiary-color) 0 0 15px;
  background-color: rgba(98, 0, 238, 0.1);
}

#menu ul {
  display: inline-block;
  float: right;
  margin: 0;
}

#menu li {
  padding: 1rem 3rem;
  display: inline-block;
  text-decoration: none;
  transition: color, background-color 0.3s;
  border-radius: 1em;
}

#menu li:hover {
  color: var(--primary-color);
  background-color: rgba(0, 0, 0, 0.25);
}

#dark-light {
  display: inline-block;
  line-height: normal;
}

#dark-light p {
  font-size: 3em;
  margin-left: 1.5em;
  display: inline-block;
  color: var(--tertiary-color);
}

/* Estilização da Capa de Apresentação */

#capa {
  height: 1080px;
}

#capa #row-capa {
  position: absolute;
  margin: 280px 0 0 316px;

  /* background-color: aqua; */
}

#row-capa img {
  width: 400px;
  height: 400px;
  border-radius: 50%;

  display: inline-block;
  border: 2px solid var(--tertiary-color);
  box-shadow: var(--tertiary-color) 0 0 15px;
}

#row-capa h1 {
  color: var(--tertiary-color);
  display: inline-block;
  position: relative;

  top: -180px;
  left: 50px;
}
